/* --- Project Showcase Section --- */

.project-showcase {
    background-color: var(--structure-color);
    box-shadow: 0 0 5px 5.5px var(--structure-color);
    display: flex;
    flex-direction: column; /* Stacks the display and selector vertically */
    margin-top: 5px;

    border: 1px solid var(--debug-border-color);
}

/* Project display */
.project-display {
    background-color: var(--structure-color);

    display: flex;
    padding: 5px;
    gap: 5px;
}

.project-image-large {
    flex: 2;
    border: 1px solid var(--debug-border-color);
}

.project-display .text-content {
    flex: 1; 
    margin: 0px;
}

/* Project selector */
.project-selector {
    background-color: var(--structure-color);
    
    display: flex;
    border-top: 1px solid var(--debug-border-color);
    padding: 5px;
    gap: 5px;
}

.selector-tile {
    flex: 1;
    border: 1px solid var(--debug-border-color);
    aspect-ratio: 2 / 1;
    cursor: pointer; /* Indicate it's clickable */
}

.project-image-large img,
.selector-tile img {
    background-color: var(--image-background-color);
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Mobile Layout */
@media (max-width: 768px) {
    .project-display {
        flex-direction: column;
    }
}