.skills-image-row {
    display: flex;
    background-color: var(--structure-color);
    display: flex;
    padding: 5px;
    margin-top: 10px;
    gap: 5px;
    border: 1px solid var(--debug-border-color);
    box-shadow: 0 0 5px 5.5px var(--structure-color);
    justify-content: center;
}

.skills-image-tile img {
    width: 100%;
    height: 100%;
    background-color: var(--image-background-color);
}

@media (max-width: 768px)  {
    .skills-image-row {
        flex-wrap: wrap
    }

    .skills-image-tile {
        flex-basis: 49%;
        margin-top: -5px;
    }
}