<div class="footer-content">
    <div class="footer-section">
            <p class="footer-text">Interested in working with me? Get in contact at <a href="mailto:dylan-brodie@live.nmit.ac.nz" class="footer-email">dylan-brodie@live.nmit.ac.nz</a></p>
            <p class="footer-text">2025 Dylan Brodie. All Rights Reserved</p>
        </div>
    <!-- Social Media Links -->
    <div class="footer-social-links">
        <a href="https://github.com/DylanBroStudent">
            <img class="footer-social-link-icon" src="../../assets/images/site/github-mark.svg" alt="Github link icon">
        </a>
        <a href="https://www.linkedin.com/in/dylan-brodie-99661b351/">
            <img class="footer-social-link-icon" src="../../assets/images/site/Ln-mark.svg" alt="LinkedIn link icon">
        </a>

    </div>
</div>