.contact-social-links {
    background-color: var(--structure-color);
    display: flex;
    padding: 5px;
    margin-top: 5px;
    gap: 7.5px;
}

.contact-link-tile a img {
    width: 100%;
    height: 100%;
    background-color: var(--image-background-color);
}

@media (max-width: 768px) {
    .contact-social-links {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-link-tile {
        flex: 1 30%;
    }
}