/* Global CSS */

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: #ffffff;
    border: 1px solid #000;
}

.logo {
    border: 1px solid #000;
    padding: 10px 10px;
}

.logo a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0px 2.5px;
    margin: 0px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 20px 30px;
}

/* Content */

.content-section {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #000;
    margin: 5px 0px 0px 0px;
    padding: 0px;

}

.text-content {
    flex: 2;
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
}

.text-content h1, .text-content h2 {
    margin-top: 0;
}

.placeholder-image {
    flex: 1;
    border: 1px solid #000;
    margin: 5px;
}


/* Mobile Layout */

/* Header */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
    }

    .logo {
        width: 100%;
        text-align: center;
        padding: 10px 5px;
        margin: 5px;
    }

    .main-nav {
        width: 100%;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: -2.5px -7.5px 2.5px -7.5px;
    }

    .nav-links li {
        width: 50%;
        padding: 2.5px;
        box-sizing: border-box;
    }

    .nav-links a {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    /* Content */
    .content-section {
        flex-direction: column;
    }
}

